* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "poppins", sans-serif;
}

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* header */

.header {
    background: #fffcf4;
    padding-top: 28px;
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .navbar {
    display: flex;
    align-items: center;
    padding: 8px 0;
}

.header .navbar .list {
    display: flex;
    margin-left: 512px;
    gap: 42px;
}

.navbar .list a {
    text-decoration: none;
}

.navbar .list .item:first-child {
    position: relative;
}

.navbar .list a {
    color: #5f5b53;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.navbar .list .item:first-child::after {
    position: absolute;
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
    left: 0;
    bottom: 0;
}

.navbar .list .item:first-child a {
    color: #171100;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.navbar .list .item ~ .item:hover a {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 118px;
    height: 50px;
    border-radius: 25px;
    background: #ffb900;
    text-decoration: none;
    color: #fff;
}

.navbar .actions .sign-up {
    min-width: 144px;
    border-radius: 24.5px;
    background: #171100;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    margin-left: 70px;
}

.navbar .actions .sign-up:hover {
    opacity: 0.9;
}

.hero {
    padding: 56px 0 65px;
    background-color: #fffcf4;
}

.hero .body {
    display: flex;
}

.hero .body .image {
    display: block;
    width: 470px;
    height: 685px;
    border-radius: 20px;
    object-fit: cover;
}

.hero .hero-desc {
    width: 48%;
    position: relative;
}

.hero-desc .hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    padding: 28px 0 28px 24px;
    width: 270px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-desc .hero-summary .item {
    display: flex;
    align-items: center;
}

.hero-desc .hero-summary .item:nth-child(2) {
    margin: 22px 0;
}

.hero-summary .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: #fff9e8;
    border-radius: 50%;
}

.hero-summary .item:nth-child(2) .icon {
    background-color: #fcefff;
}

.hero-summary .item:nth-child(3) .icon {
    background-color: #ebeaff;
}

.hero-summary .lable {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.hero-summary .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero-summary .infor {
    margin-left: 16px;
}

.hero .hero-infor {
    width: 52%;
    padding: 64px 0 0 130px;
}

.hero-infor .title {
    color: #171100;
    font-family: Sen;
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -0.116rem;
}

.hero-infor .desc {
    margin-top: 22px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.hero-infor .row {
    display: flex;
    margin-top: 38px;
    align-items: center;
}

.hero-infor .block {
    margin-left: 28px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.hero-infor .icon {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero-infor .block .desc {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 0;
    margin-left: 14px;
}

.hero-infor .row .hero-infor-btn {
    min-width: 180px;
    height: 64px;
    border-radius: 32px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero-infor .desc-after {
    margin-top: 48px;
}

.hero-infor .row-after {
    margin-top: 8px;
}

.hero-infor .row-after .block {
    margin-left: 0;
    align-items: baseline;
    margin-right: 28px;
}

.hero-infor .block strong {
    color: #171100;
    font-family: Sen;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.23;
    margin-right: 10px;
}

.hero-infor .block span {
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

/* courses */

.courses {
    padding: 65px 0;
    margin-top: 135px;
}

.courses .block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses .infor .title {
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.76px;
}

.courses .infor .desc {
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    width: 458px;
    margin-top: 16px;
}

.courses .controls {
    display: flex;
    gap: 18px;
}

.courses .control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(255, 185, 0, 1);
    background-color: transparent;
    color: #ffb900;
}

.courses .control-btn:hover {
    background-color: #ffb900;
    color: #fff;
    cursor: pointer;
}

.course-list {
    display: flex;
    gap: 30px;
    margin-top: 55px;
}

.course-list .course-item {
    flex: 1;
    border: 1px solid #e2dfda;
    background: #fff;
    border-radius: 12px;
}

.course-list .course-item .thumb {
    width: calc(100% + 2px);
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
    margin: -1px 0 0 -1px;
}

.course-item .row-after {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course-item .infor {
    padding: 16px 22px 22px;
}

.course-item .infor .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course-item .infor .subtitle {
    width: 220px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    word-break: break-all;
}

.course-item .block-after img {
    margin-right: 6px;
}

.course-item .infor .desc-course {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
    word-break: break-all;
}

.course-item .row-after {
    margin-top: 12px;
}

.course-item .row-after span {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.course-item .block-after span {
    color: #fea31b;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.course-item .btn-course {
    background: #171100;
}

.course-item .btn-course:hover {
    background-color: #ffb900;
}

/* feedback */

.feedback {
    margin-top: 135px;
    background: #2e2100;
}

.feedback .block {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 96px 0;
}

.feedback .face {
    width: 72px;
    height: 72px;
    border-radius: 72px;
}

.feedback .infor {
    position: relative;
}

.feedback .infor .desc {
    width: 740px;
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54;
}

.feedback .writer .name {
    margin-top: 18px;
    color: #f7f7f7;
    font-family: Sen;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.42;
}

.feedback .writer .desc {
    margin-top: 4px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.feedback .writer .dots {
    display: flex;
    margin-top: 28px;
    gap: 6px;
}

.feedback .writer .dot {
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #634700;
}

.feedback .writer .dot-active {
    background-color: #ffb900;
}

.feedback .infor .comment {
    position: absolute;
    left: -30px;
    top: -30px;
}
